.contact-us {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 25px 45px;
}

.contact-us-text {
  color: aliceblue;
  text-shadow: 2px 2px 15px #000000;
  color: #e3e3e3;
}

.contact-us-text:link,
.contact-us-text:visited {
  text-decoration: none;
}

.contact-us-text:hover,
.contact-us-text:active {
  text-decoration: none;
}
