.one {
  /*flex: 0 0 65%;*/
  margin: 0 auto;
  border: 20px solid #ddd;
}

/*TODO make it to phone size*/
@media only screen and (max-width: 600px) {
  .App-logo {
    position: absolute;
    top: 25px;
    left: 25px;
    height: 80px;
    width: 119px;
  }
}
